body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000;
    color: #fff;
}

header img {
    width: 20%;
    height: auto;
}

header h1 {
    width: 60%;
    text-align: center;
}

header svg {
    width: 20%;
    height: auto;
    background-color: #333;
}


@media (max-width: 800px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    header img {
        width: 50%;
        margin-bottom: 10px;
    }

    header h1 {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    header svg {
        width: 100%;
        background-color: #444; 
        margin-top: 10px;
    }

    p {
        padding: 0 20px;
    }
}
















