body {
    margin: 2cm;
    padding: 1cm;
    background: linear-gradient(to right, #d3d3d3, #87cefa); 
    font-family: Arial, sans-serif;
  }
  

  header {
    text-align: center;
  }
  
  h1 {
    font-family: Arial, sans-serif;
    font-size: 30px;
    color: red;
  }
  
  h2 {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    color: blue;
    text-decoration: underline;
  }
  

  table {
    width: 100%;
    border: double 2px blue;
    border-collapse: collapse;
  }
  
  td {
    border: 2px solid blue; 
    text-align: center;
  }
  
  td img {
    width: 60px;
  }
  

  a {
    cursor: crosshair; 
    text-decoration: none;
  }
  
  a:hover {
    font-weight: bold;
    text-decoration: underline;
    color: black;
    background-color: white;
  }
  
  a:visited {
    font-weight: bold;
    color: white;
    text-decoration: underline double;
  }
  

  .especial {
    color: green;
  }
  
  .cita {
    font-style: italic; 
    text-align: right;
  }
  
 
  footer {
    background-color: beige; 
    padding: 1cm 2cm;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
  }
  
  footer a {
    color: black;
    font-weight: bold;
    text-decoration: none;
  }
  
  footer a:hover {
    color: black;
    font-weight: bold;
    text-decoration: underline;
    background-color: white;
  }
  
  footer a:visited {
    color: white;
    font-weight: bold;
    text-decoration: underline double;
  }