body{
    background-image: url(../img/flor.webp);
    margin: 2cm;
    
    background-size:cover;
    background-image:linear-gradient(rgb(255, 136, 0)) ;
}
h1 {
color: rgb(0, 60, 255);
font-size: 25px;
text-shadow: 5px 5px 2px grey;
text-decoration: underline;
text-align: center;
color: rgb(0, 0, 225);
}
p{
text-indent: 1cm;
text-align: justify;
color:rgb(90, 90, 90);
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
}
h2{
font-size: 20px;
text-align: left;
color:rgb(0, 0, 225) ;
font-style: italic;
font-weight: bold;
}

div{
    display: inline-block;
    width: 33%;
    text-align: center;
    background-color: rgb(255, 140, 140);
    border-radius: 20px;
}

table{
width: 100%;
background-color: chartreuse;
}
.boton:hover{
    color: rgb(255, 0, 0);
    background-color: chartreuse;
    font-family: cursive;
    cursor: all-scroll;
}

header{
width: 20%;
display: flex;
align-items: center;
}

section{
font-family: Verdana, Geneva, Tahoma, sans-serif ;
color: darkslategrey;
}

footer{
background-color: chocolate;
margin-left: -2cm ;
margin-right: -2cm ;
width: 100%;
}

iframe{
align-items: center;
border: 10px solid red;
vertical-align:middle;
}













