body{
    background-color: rgb(163, 244, 255);
}

h1{
    font-size: 20px;
    color:rgb(0, 0, 225);
    text-align: center;
    text-decoration: underline;
    text-shadow: 5px 5px 2px grey;

}
h2{
    font-size: 20px;
    text-align: left;
    color:rgb(0, 0, 225);
    font-weight: bold;
    font-style: italic;
}

p{
    font-size: 14px;
text-align: justify;
color: rgb(36, 36, 36);
font-family: Arial, Helvetica, sans-serif;
text-indent: 60px;
}
 

